.DS_STORE
classifier/cic/src/models/*/
classifier/pyvenv
extractor/pyvenv
extractor/cex/target
extractor/cex/.project
extractor/cex/.settings
extractor/cex/.classpath
extractor/cex/.idea
extractor/cex/*.iml
extractor/cex/*.log
extractor/cex/*.log.*
extractor/cex/*.old
extractor/cex/*.obj
extractor/cex/*.zip
extractor/cex/data/doi
extractor/cex/data/entries
extractor/cex/data/fail
extractor/cex/data/*.pdf
extractor/cex/data/*.png
extractor/cex/my_config.json
extractor/cex/__pycache__
extractor/cex/doc/
extractor/cex/build/
extractor/cex/dist/
extractor/cex/grobid_client_python.egg-info/
