.DS_STORE
classifier/cic/src/models/*/
classifier/pyvenv
extractor/pyvenv
extractor/app/target
extractor/app/.project
extractor/app/.settings
extractor/app/.classpath
extractor/app/.idea
extractor/app/*.iml
extractor/app/*.log
extractor/app/*.log.*
extractor/app/*.old
extractor/app/*.obj
extractor/app/*.zip
extractor/app/data/doi
extractor/app/data/entries
extractor/app/data/fail
extractor/app/data/*.pdf
extractor/app/data/*.png
extractor/app/my_config.json
extractor/app/__pycache__
extractor/app/doc/
extractor/app/build/
extractor/app/dist/
extractor/app/grobid_client_python.egg-info/
