body, h1, p, ul, li {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  h1{
    margin-bottom: 50px !important;
  }

  p {
    line-height: 1.5;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 1%;
    margin-top: 1%;
  }

  body {
    font-size: 18pt;
  }

  header {
    font-size: 13pt;
    padding-top: 20px !important;
    padding: 20px;
    padding-bottom: 20px !important;
  }


  header nav ul {
    list-style: none;
  }

  header nav ul li {
    display: inline;
    margin-right: 20px;
  }

  header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  header nav ul li a:hover {
    text-decoration: underline;
  }

  .logo {
    background: url('logo.png') no-repeat center center; /* Add your logo image */
    display: inline-block;
    width: 50px; /* Adjust to your logo's dimensions */
    height: 50px; /* Adjust to your logo's dimensions */
    text-indent: -9999px; /* Hide the text */
  }

  #disclaimer {
    text-align: center;
    margin-top: 100px!important;
    width: 90%;
    margin: auto;
    margin-bottom: 100px!important;
    background-color: rgba(0,0,0,0.04);
    border-radius: 15px;
    padding: 50px;
  }

  #disclaimer ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    background-color: rgb(255,255,255);
    border-radius: 5px;
    border: gray solid 0.5px;
  }

  #pdflist {
    margin-top: 5%;
    padding-bottom: 1%;
  }

  h1, h2 {
    margin-bottom: 20px;
    margin-top: 20px;
  }

#download {
    margin-top: 10%;
}

button {
    margin-top: 10%;
}

  form {
    margin-top: 50px;
  }

  #agree, #agree2 {
    width: 25px;
    height: 25px;
  }

  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: relative;
    width: 100%;
    bottom: 0;
    line-height: 1.5;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 100%;
    font-size: 13pt;
  }


  .mt-1 {
    margin-top: 1% !important;
  }
  .mt-2 {
    margin-top: 2% !important;
  }

  .navbar {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    background: #222;
  }

  .navbar-item {
    margin-left: auto;
    color: white;
  }


/* Spinner CSS */
.spinner {
    border: 8px solid grey;
    border-top: 8px solid #ff7433;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    display: none;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}